<header class="hero-unit purple darken-3" id="banner" ng-init="uc.validacion()">
  <div class="container">
    <h1>Usuarios</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="input-field col s12 m7 l4 ">
      <!-- <i class="material-icons prefix">person_outline</i> -->
      <select class="browser-default" ng-model="uc.role" material-select>
        <option value="">Seleccione el tipo de usuario</option>
        <option value="EMPLOYEE">Empleados</option>
        <option value="USER">Usuarios</option>
      </select>
    </div>
  </div>
  <div class="row">
    <table class="bordered striped highlight centered responsive-table">
      <thead>
        <tr>
          <th data-field="name">Nombres</th>
          <th data-field="lname">Apellidos</th>
          <th data-field="id">Documento</th>
          <th data-field="phone">Telefono</th>
          <th data-field="email">Correo</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-if="user.role===uc.role" ng-repeat="user in uc.users">
          <td>{{user.names}}</td>
          <td>{{user.lastnames}}</td>
          <td>{{user.documento}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td>
          <td><a class="btn-floating waves-effect waves-light amber lighten-1" ng-click="uc.edit(user)"><i class="material-icons">mode_edit</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light purple darken-3" href="#modalCreateUser"><i class="material-icons">add</i></a>
  </div>
</div>

<div id="modalCreateUser" class="modal">

  <div class="modal-content">
    <!-- Form Create User -->
    <div class="center-align">
      <h3>Crear Usuario</h3>
      <blockquote><h6>Nota: Todos los campos son obligatorios</h6></blockquote>
      <form id="form_create_user" ng-model="uc.newUser" ng-change="uc.errors=false">
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">perm_identity</i>
            <input id="text_names" class="text validate" type="text" ng-model="uc.newUser.names" style="text-transform:uppercase" required="" aria-required="true">
            <label for="text_names" data-error="Error">*Nombres</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <input id="text_lnames" class="text validate" type="text" ng-model="uc.newUser.lastnames" style="text-transform:uppercase" required="" aria-required="true">
            <label for="text_lnames" data-error="Error">*Apellidos</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">perm_identity</i>
            <input id="text_documento" class="validate" type="number" ng-model="uc.newUser.documento" required="" min="100000" step="1">
            <label for="text_documento" data-error="Error">*Documento</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">perm_identity</i>
            <input id="text_user" class="text validate" type="text" ng-model="uc.newUser.user" required="" aria-required="true">
            <label for="text_user" data-error="Error">*Usuario</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">location_city</i>
            <input id="text_city" class="text validate" type="text" ng-model="uc.newUser.city" style="text-transform:uppercase" required="" aria-required="true">
            <label for="text_city" data-error="Error">*Ciudad</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">local_phone</i>
            <input id="text_phone" class="validate" type="number" ng-model="uc.newUser.phone" required="" aria-required="true" min="999999" step="1">
            <label for="text_phone" data-error="Error">*Teléfono</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">email</i>
            <input id="text_email" class="text validate" type="email" ng-model="uc.newUser.email" required="" aria-required="true">
            <label for="text_email" data-error="Error">*Email</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">lock</i>
            <input id="text_password" class="text validate" type="text" ng-model="uc.newUser.password" required="" aria-required="true" ng-change="uc.validate(uc.newUser.password)">
            <label for="text_password" data-error="Error">*Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m8 l7 ">
            <select class="browser-default" ng-model="uc.newUser.role" material-select required="">
              <option value="">Seleccione el tipo de usuario</option>
              <option value="EMPLOYEE">Empleado</option>
              <option value="USER">Usuario</option>
            </select>
          </div>
        </div>
      </form>
      <blockquote ng-if="uc.errors"><h6>Error: Hay campos vacios o mal llenados</h6></blockquote>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col s4 l4 m5">
        <a class="waves-effect waves-light btn purple darken-3" type="submit" name="action" ng-click="uc.createUser(uc.newUser)">Registrar</a>
      </div>
      <div class="col s4 offset-s3 l3 offset-l5 m3 offset-m4">
        <a href="#!" class=" modal-action modal-close waves-effect  waves-light btn amber lighten-1" ng-click="uc.newUser = {}">Cancelar</a>
      </div>
    </div>
  </div>
</div>
