.hero-unit {
  position: relative;
  padding: 1px 1px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

/* label color */
 .input-field label {
   color: #4A148C;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #4A148C;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #4A148C;
   box-shadow: 0 1px 0 0 #4A148C;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #4A148C;
   box-shadow: 0 1px 0 0 #4A148C;
 }

 /* label focus color */
 .input-field input[type=email]:focus + label {
   color: #4A148C;
 }
 /* label underline focus color */
 .input-field input[type=email]:focus {
   border-bottom: 1px solid #4A148C;
   box-shadow: 0 1px 0 0 #4A148C;
 }
 /* valid color */
 .input-field input[type=email].valid {
   border-bottom: 1px solid #4A148C;
   box-shadow: 0 1px 0 0 #4A148C;
 }
 /* label focus color */
 .input-field input[type=number]:focus + label {
   color: #4A148C;
 }
 /* label underline focus color */
 .input-field input[type=number]:focus {
   border-bottom: 1px solid #4A148C;
   box-shadow: 0 1px 0 0 #4A148C;
 }
 /* valid color */
 .input-field input[type=number].valid {
   border-bottom: 1px solid #4A148C;
   box-shadow: 0 1px 0 0 #4A148C;
 }
 /* label focus color */
 .input-field textarea[id="textarea_description"]:focus + label {
   color: #4A148C;
 }
 /* label underline focus color */
 .input-field textarea[id="textarea_description"]:focus {
   border-bottom: 1px solid #4A148C;
   box-shadow: 0 1px 0 0 #4A148C;
 }
 /* valid color */
 .input-field textarea[id="textarea_description"].valid {
   border-bottom: 1px solid #4A148C;
   box-shadow: 0 1px 0 0 #4A148C;
 }

 /* invalid color */
 /*.input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }*/
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #4A148C;
 }
