<div class="container"  ng-init="lc.validacion()" >

  <div class="container col s3">
    <div class="col s4">
      <form class="form" name="form" ng-submit="lc.login(form)" novalidate>
        <div class="container">

        </div>
        <br>
        <br>
        <br>
        <div class="form-group col l3">
          <label>User</label>
          <input type="text" name="user" class="form-control" ng-model="lc.user.user" required>
        </div>

        <div class="form-group col l3">
          <label>Password</label>
          <input type="password" name="password" class="form-control" ng-model="lc.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.user.$error.required && form.password.$error.required && lc.submitted">
             Please fill all the fields of the form.
          </p>
          <p class="help-block" ng-show="lc.errors">
             Your user or password is incorrect
          </p>

        </div>
        <br>
        <div class="center">
          <button class="btn btn-inverse btn-lg btn-login purple darken-3" type="submit">
            Login
          </button>
        </div>

      </form>
    </div>
  </div>

</div>
